streamlit
PyYAML
streamlit-authenticator
matplotlib
pandas
matplotlib
seaborn
openpyxl
reportlab
numpy 
insightface 
scikit-learn 
matplotlib 
scipy
opencv-python-headless
onnxruntime
